@using Resume.Config
@inject ResumeConfig Config
@if (Config.Recommendations.Count > 0)
{
    <section class="resume-section recommendations-section rec-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Letters of recommendations</h2>
        <div class="resume-section-content">
            @for(var x = 0; x < Config.Recommendations.Count; x++)
            {
                var rec = Config.Recommendations[x];
                <article class="recommendations-item">
                    <div class="recommendations-item-quote">
                        @Html.Raw(rec.Summary)
                    </div>
                    <div class="recommendations-item-header">
                        <div class="d-flex flex-column flex-md-row">
                            <div class="recommendations-item-name">@rec.Name <small>@rec.Position</small></div>
                            @if (!string.IsNullOrEmpty(rec.LetterLink))
                            {
                                <div class="recommendations-item-link ms-md-auto">
                                    <a href="@rec.LetterLink" class="btn btn-sm btn-light"><i class="fas fa-link me-2"></i>Read more</a>
                                </div>
                            }
                        </div>
                    </div>
                    
                </article>
                @if (x != Config.Recommendations.Count - 1)
                {
                    <hr />
                }
            }
        </div>
    </section>
}